@model  IEnumerable<MyNotes.EntityLayer.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>
<p>
    <a href="/Category/Create" class="btn btn-primary">Yeni Kayit</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
            
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td class="d-flex justify-content-evenly">
                    @Bootstrap.LinkButton("/Category/Edit/" + @item.Id, "warning", "btn-sm", "Guncelle", "", "bi bi-pencil", string.Empty)

                    @Bootstrap.LinkButton("/Category/Details/" + @item.Id, "primary", "btn-sm", "Detaylar", String.Empty, "bi bi-search", string.Empty)

                    @Bootstrap.LinkButton("/Category/Delete/" + @item.Id, "danger", "btn-sm", "Sil", String.Empty, "bi bi-trash", string.Empty)


                    @*<a href="/Category/Edit/@item.Id" class="btn btn-warning" title="Guncelle"><i class="bi bi-pencil"></i></a>*@
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ 
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>

</table>




