@*@using MyNotes.BusinessLayer*@
@{
//NoteManager nm = new NoteManager();
//var lst = nm.List();
}

@{
    ViewBag.Title = "Home Page";
}

<section class="py-5">
    <div class="container-fluid px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-xl-3 justify-content-center">
            @{
                int i = 0;
            }
            @foreach (var note in Model)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body py-4 px-1">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@note.Title</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-between small">
                                    <div>
                                        <i class="far fa-user"></i> @note.Owner.UserName
                                    </div>
                                    <div>
                                        <i class="far fa-clock"></i> @note.ModifiedOn
                                    </div>
                                </div>
                                <p class="card-text">
                                    @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70)
                                    {
                                        @(note.Text.Substring(0,70)) <span class="text-danger">@("...")</span>
                                    }
                                    else if (string.IsNullOrEmpty(note.Text))
                                    {
                                        <span class="text-danger"> @("...")</span>
                                    }
                                    else
                                    {
                                        @note.Text
                                    }
                                </p>
                            </div>
                        </div>
                        <hr />

                        <!-- Product actions-->
                        <div class="bg-transparent d-flex justify-content-between">
                            <p>
                                <button class="btn btn-outline-light text-dark btn-sm">
                                    @if (note.LikeCount > 5)
                                    {
                                        <i class="bi-star text-danger"></i> @note.LikeCount
                                    }
                                    else
                                    {
                                        <i class="bi-star-fill text-danger"></i> @note.LikeCount
                                    }

                                </button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-outline-light text-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal_comment" data-note-id="@note.Id">
                                    <i class="bi bi-chat-left-heart text-danger"></i> Yorumlar
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

@Bootstrap.ModalPopup("modal_comment", "Yorumlar")
<script src="../../Scripts/jquery-3.6.0.min.js"></script>
<script>
    var noteId = -1;
    var modalCommentBodyId = "#modal_comment_body";
    $(function () {
        $('#modal_comment').on('show.bs.modal',
            function (e) {
                var btn = $(e.relatedTarget);
                noteId = btn.data("note-id");
                $(modalCommentBodyId).load("/Comment/ShowNoteComments/" + noteId);
            });
    });

    function doComment(btn, e, commentId, spanId) {
        var button = $(btn);
        var mode = button.data('edit-mode');
        if (e === 'edit_clicked') {
            if (!mode) {
                button.data('edit-mode', true);
                button.removeClass('btn-warning');
                button.addClass('btn-success');
                var btnSpan = button.find('span');
                btnSpan.removeClass('bi-pencil');
                btnSpan.addClass('bi-check');
                $(spanId).addClass('editable');
                $(spanId).attr('contenteditable', true);
                $(spanId).focus();
            } else {
                button.data('edit-mode', false);
                button.removeClass('btn-success');
                button.addClass('btn-warning');
                var btnSpan = button.find('span');
                btnSpan.removeClass('bi-check');
                btnSpan.addClass('bi-pencil');
                $(spanId).addClass('editable');
                $(spanId).attr('contenteditable', false);

                var txt = $(spanId).text();
                console.log(txt);
                $.ajax({
                    method: "POST",
                    url: "/Comment/Edit/" + commentId,
                    data: { text: txt }
                }).done(function(data) {
                    if (data.result) {
                        //yorumlari tekrar yukleme
                        $(modalCommentBodyId).load("/Comment/ShowNoteComments/" + noteId);
                    } else {
                        alert("Yorumunuz Guncellenemedi.");
                    }
                }).fail(function () {
                    alert("Sunucu ile baglanti kurulamadi.");
                });
            }
        }
        else if (e === "delete_clicked") {
            var dialog_res = confirm("Yorum silinsin mi?");
            if (!dialog_res) {
                return false;
            }
            $.ajax({
                method: "GET",
                url: "/Comment/Delete/" + commentId
            }).done(function(data) {
                if (data.result) {
                    $(modalCommentBodyId).load("/Comment/ShowNoteComments/" + noteId);
                } else {
                    alert("Yorum silinemedi!");
                }
            }).fail(function() {
                alert("Sunucu ile baglanti kurulamadi.");
            });
        }
        else if (e==="new_clicked") {
            var txt = $("#new_comment_text").val();
            //console.log("txt :" + txt);
            //var txt1 = $("#new_comment_text").text();
            //console.log("txt1 :" + txt1);

            $.ajax({
                method: "POST",
                url: "/Comment/Create",
                data:{"text":txt,"noteid":noteId}
            }).done(function (data) {
                
                if (data.result) {
                    // yorumlar partial tekrar yüklenir..
                    $(modalCommentBodyId).load("/Comment/ShowNoteComments/" + noteId);
                } else {
                    alert("Yorum eklenemedi.");
                }
            }).fail(function () {
                alert("Sunucu ile bağlantı kurulamadı.");
            });
        }
    }
</script>